/* poppins fonts form by google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common css style hare */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.primary-btn {
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    border: none;
    color: white;
    background-color: #E02C6D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* common css end hare */

/* header section style start heare */
.influencer-container {
    max-width: 1600px;
    min-height: 165px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
}

.influencer {
    width: 50%;
}

.influencer h3 {
    color: #3A3A3A;
    font-size: 24px;
}

.items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.items a {
    color: #3A3A3A;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.search {
    font-size: 25px;
    font-weight: 800;
}

.banner {
    max-width: 1600px;
    margin: 0 auto;
    background: url('../influencer-gear/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner-container {
    display: flex;
    margin-top: 110px;
    gap: 550px;
}

.banner-title {
    margin-top: 30px;
}

.banner-title h1 {
    margin-bottom: 25px;
    font-size: 52px;
    color: #3A3A3A;
}

.banner-title p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #3A3A3A;
}

.company {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(241, 236, 236);
    border-bottom: 1px solid rgb(241, 236, 236);
    grid-template-columns: repeat(7, 1fr);
}

/* header section style end hear */

/*---------------main section style start hare---------------- */

/* company sponros start */
.company {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(241, 236, 236);
    border-bottom: 1px solid rgb(241, 236, 236);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* company sponros end */

/* popular collectin start */

.popular-collection {
    margin-top: 120px;
}

.popular-title {
    font-size: 28px;
    text-align: center;
    color: #836969;
}

.card-container {
    display: grid;
    gap: 30px
    ;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 335px;
    height: 495px;
    padding: 17px;
    margin-top: 70px;
    border-radius: 10px;

    box-shadow: 0px 0px 23px 3px rgba(173, 173, 173, 0.54);
    -webkit-box-shadow: 0px 0px 23px 3px rgba(173, 173, 173, 0.54);
    -moz-box-shadow: 0px 0px 23px 3px rgba(173, 173, 173, 0.54);
}

.card h2 {
    padding-top: 10px;
    font-weight: 500;
    color: #18191F;
}

.card .doller {
    padding-top: 10px;
    color: #000000;
    font-size: 24px;
}
.card i{
    color: orange;
}
.card p {
    padding-top: 10px;
    color: #787885;
}
.popular-description{
    margin-top: 45px;
    padding-right: 50px;
    font-size: 1.1rem;
    justify-content: end;
    display: flex;
    gap: 10px;
    cursor: pointer;
   color: #E02C6D;
}
.popular-description i{
    
}

/* popular collectin end */

/* featured product start hare */
.featured-product{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    align-items: center;
    display: flex;
}
.featured-image{
    width: 43%;
}
.featured-title{
    width: 70%;
}
.featured-title h1{
    margin-bottom: 20px;
    font-size: 38px;
    color: #0A0826;
}
.featured-title p{
    margin-bottom: 20px;
    color: #6C6C6C;
}
/* featured product end hare */
/*---------------main section style end hare---------------- */

/* --------footer start-------- */

footer{
    margin-top: 100px;
    background-color: #0b0827;
}
footer .footer-influencer {
    padding: 50px;
    text-align: center;
}
footer .footer-influencer i{
    font-size: 24px;
    padding: 20px;
    color: #FFFFFF;
}
.footer-influencer h3{
    padding: 10px 0;
    font-size: 24px;
    color: #FFFFFF;
}
.footer-influencer p{
    padding: 5px 0;
    font-size: 15px;
    color: #D9DBE1;
}
/* --------footer end-------- */