/* poppins fonts form by google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common css style hare */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.primary-btn {
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    border: none;
    color: white;
    background-color: #E02C6D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* common css end hare */

/* header section style start heare */
.influencer-container {
    max-width: 1600px;
    min-height: 165px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
}

.influencer {
    width: 50%;
}

.influencer h3 {
    color: #aaaebc;
    font-size: 24px;
}

.items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.items a {
    color: #aaaebc;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.search {
    font-size: 25px;
    font-weight: 800;
}

.banner {
    max-width: 1600px;
    margin: 0 auto;
    background: url('../influencer-gear/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner-container {
    display: flex;
    margin-top: 110px;
    gap: 550px;
}

.banner-title {
    margin-top: 30px;
}

.banner-title h1 {
    margin-bottom: 25px;
    font-size: 52px;
    color: #aaaebc;
}

.banner-title p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #aaaebc;
}

.company {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(241, 236, 236);
    border-bottom: 1px solid rgb(241, 236, 236);
    grid-template-columns: repeat(7, 1fr);
}

/* header section style end hear */

/*---------------main section style start hare---------------- */

/* company sponros start */
.company {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(241, 236, 236);
    border-bottom: 1px solid rgb(241, 236, 236);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* company sponros end */

/* popular collectin start */

.popular-collection {
    margin-top: 120px;
}

.popular-title {
    font-size: 28px;
    text-align: center;
    color: #cdcfd4;
}

.card-container {
    display: grid;
    gap: 30px
    ;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 335px;
    height: 495px;
    padding: 17px;
    margin-top: 70px;
    border-radius: 10px;

    box-shadow: 0px 0px 23px 3px rgba(173, 173, 173, 0.54);
    -webkit-box-shadow: 0px 0px 23px 3px rgba(173, 173, 173, 0.54);
    -moz-box-shadow: 0px 0px 23px 3px rgba(173, 173, 173, 0.54);
}

.card h2 {
    padding-top: 10px;
    font-weight: 500;
    color: #d4d5d8;
}

.card .doller {
    padding-top: 10px;
    color: #d6d7db;
    font-size: 24px;
}
.card i{
    color: orange;
}
.card p {
    padding-top: 10px;
    color: #a1a1a7;
}
.popular-description{
    margin-top: 45px;
    padding-right: 50px;
    font-size: 1.1rem;
    justify-content: end;
    display: flex;
    gap: 10px;
    cursor: pointer;
   color: #E02C6D;
}
.popular-description i{
    
}

/* popular collectin end */

/* featured product start hare */
.featured-product{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    align-items: center;
    display: flex;
}
.featured-image{
    width: 43%;
}
.featured-title{
    width: 70%;
}
.featured-title h1{
    margin-bottom: 20px;
    font-size: 38px;
    color: #d4d5d8;
}
.featured-title p{
    margin-bottom: 20px;
    color: #aca8a8;
}
/* featured product end hare */
/*---------------main section style end hare---------------- */

/* --------footer start-------- */

footer{
    height: 36vh;
    margin-top: 100px;
    background-color: #0b0827;
}
footer .footer-influencer {
    padding: 50px;
    text-align: center;
}



ul {
    display: flex;
    position: absolute;
    right: 0;
    /* top: 50%;
    left: 50%; */
    transform: translate(-180%, 50%);
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
    background: #dd4b39;
  }



.footer-influencer h3{
    padding: 10px 0;
    font-size: 24px;
    color: #FFFFFF;
}
.footer-influencer p{
    padding: 5px 0;
    font-size: 15px;
    color: #D9DBE1;
}
/* --------footer end-------- */









:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
    --red: #e74c3c;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  body {
    background: var(--body-bg-color);
    color: var(--text-color);
  }
  
  hr {
    border-color: var(--hr-color);
    margin: 20px 0;
  }
  
  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 70px;
  }
  
  .menu a {
    position: relative;
    display: block;
    padding: 10px;
  }
  
  .menu .border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
  }
  
  .menu .border-top,
  .menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
  }
  
  .menu .border-left,
  .menu .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
  }
  
  .menu .border-top,
  .menu .border-left,
  .menu .border-right {
    top: 0;
  }
  
  .menu .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  .menu .border-top {
    transform-origin: top left;
  }
  
  .menu .border-left {
    transform-origin: bottom left;
  }
  
  .menu .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
  }
  
  .menu a:hover .border-top,
  .menu a:hover .border-bottom {
    transform: scaleX(1);
  }
  
  .menu a:hover .border-left,
  .menu a:hover .border-right {
    transform: scaleY(1);
  }
  
  .menu a:hover .border-right {
    transition-delay: var(--transition-delay);
  }
  
  .menu a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
  }
  
  .menu a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .menu[data-animation="diagonal"] .border-left {
    transform-origin: top left;
  }
  
  .menu[data-animation="diagonal"] .border-right,
  .menu[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
  }
  
  .menu[data-animation="diagonal"] a:hover [class^=border]{
    transition-delay: 0s;
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }
  
  .page-footer span {
    color: var(--red);
  }